[Unit]
Description=Burning notes
After=network.target

[Service]
User=root
WorkingDirectory=/root/apps/burning-notes
ExecStart=/root/apps/burning-notes/burning-notes -p
Restart=always
RestartSec=4
StandartOutput=inherit

[Install]
WantedBy=multi-user.target