@import 'tailwindcss';
@plugin "daisyui" {
  themes: dark --prefersdark, light --default, coffee, cupcake, retro, cyberpunk, valentine, aqua, business;
}

@source '../../internal/view/**/*.templ';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

.flame{ 
    z-index: -1;
    margin-left: 10%;
    background:linear-gradient(-45deg, red, orange);
    border-radius: 150px 150px 0px 150px;
    transform:rotate(-135deg);
    animation:0.8s flame infinite ease-in-out;
    filter:blur(10px);
    position: absolute;
    box-shadow:17px 20px 90px var(--color-secondary);
    border:45px solid var(--color-base-200);
    border-left-width:25px;
    border-top-width:25px;
}
.flame_after,
.flame_before {
    position:absolute;
    background:linear-gradient(-45deg, red, orange);
    animation:0.7s flames infinite;
    transform:scale(.8) rotate(20deg);
    border-radius: 100px 100px 0px 100px;
    top:20px;
}
.flame_before{
    top:0;
    animation-duration:0.6s;
    transform:scale(.9) rotate(-15deg) translate(10px, 0px);
}

@keyframes flame{
    0% {height:195px; width:200px;}
    5% {border-bottom-right-radius:0px;}
    25% {border-bottom-right-radius:30px;}
    40% {border-bottom-right-radius:0px;}
    50% {height:190px; width:193px;}
    55% {border-bottom-right-radius:25px;}
    75% {border-bottom-right-radius:0px;}
    85% {border-bottom-right-radius:35px;}
    95% {border-bottom-right-radius:0px;}
    100% {height:196px; width:200px;}
}

@keyframes flame_tail{
    0% {border-bottom-right-radius:0px;}
    25% {border-bottom-right-radius:30px;}
    40% {border-bottom-right-radius:0px;}
    50% {border-bottom-right-radius:25px;}
    75% {border-bottom-right-radius:0px;}
    85% {border-bottom-right-radius:35px;}
    100% {border-bottom-right-radius:0px;}
}

@keyframes flames{
    0% {height:98%; width:98%;}
    50% {height:92%; width:92%;}
    100% {height:98%; width:98%;}
}